* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(214, 35%, 21%);
    color: #ffffff;
}
body #root {
    display: flex;
    font-weight: 500;
}
a {
    color: #ffffff;
}
.display-none {
    display: none;
}
.search-link {
    font-size: 1.2rem;
    background-color: rgba(233, 233, 233, 0.1);
    color: rgba(233, 233, 233, 0.3);
    border-radius: 10px;
    padding: 0.5em;
}
.back {
    font-size: 1.5rem;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0.1em 0.3em;
}
.modal-content {
    background-color: hsl(214, 35%, 21%);
}
.modal-content .close {
    color: #ffffff;
}
.modal-btn {
    border-radius: 50%;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    box-shadow: 2px 2px 8px #111111;
    z-index: 1;
}
.modal-btn-2 {
    bottom: 130px;
    width: 60px;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.3);
}
.side-nav {
    width: 350px !important;
    height: 100vh;
}
.side-nav .logo {
    position: relative;
    border-bottom: 0.2px solid rgba(100, 100, 100, 0.8);
    padding: 1.2em 1em;
}
.side-nav .logo .logo-container span {
    padding: 0 0.5em;
    font-size: 1.5rem;
}
.side-nav .logo .cancel-nav {
    position: absolute;
    display: none;
    top: 20px;
    right: 10px;
}
.company-logo {
    width: 40px;
}
nav a {
    display: block;
    padding: 0.8em 3em;
    word-spacing: 10px;
}
nav a.active {
    color: #007bff;
    background-color: rgba(100, 100, 100, 0.3);
}
.title {
    font-size: 1.2rem;
    padding: 1em;
}
.content {
    width: 100%;
    padding: 1.35rem 1rem;
    border-left: 0.01px solid rgba(100, 100, 100, 0.8);
}
.dash-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    text-align: center;
    border-radius: 10px;
}
.dash-box p {
    font-size: 1.1rem;
}
main {
    width: 100% !important;
}
.main-content-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1em;
    margin: 2em auto;
}
.personal-logo {
    width: 30px;
}
input[type="text"], input[type="text"]:focus, input[type="tel"], input[type="tel"]:focus,
input[type="email"], input[type="email"]:focus, input[type="date"], input[type="date"]:focus, select,  input[type="number"], input[type="number"]:focus{
    background-color: rgba(233, 233, 233, 0.1) !important;
    border: none;
    font-weight: 500;
    color: #ffffff !important;
    font-size: 1.1rem;
    padding: 1.5em 1em;
}
.search-btn {
    padding: 0.8em;
}
.option {
    color: #000000;
}
label {
    color: rgba(255, 255, 255, 0.6);
}
textarea, textarea:focus {
    background-color: rgba(233, 233, 233, 0.1) !important;
    border: none !important;
    font-weight: 500 !important;
    color: #ffffff !important;
}
.items {
    font-size: 1.2rem;
}
.item-sm {
    border-radius: 10px;
    border: 2px solid #ffffff;
    text-transform: capitalize;
}
.row {
    width: 100%;
}
.lists .item-sm, .lists .header {
    display: block;
    padding: 1em 1em;
}
.lists div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-sm {
    position: sticky;
    width: 100%;
    z-index: 99;
    top: -1px;
    padding: 1em 0.5em;
    border-bottom: 2px solid rgba(233, 233, 233, 0.3);
    background-color: hsl(214, 35%, 21%);
}
.red {
    border-left: 10px solid red;
}
.green {
    border-left: 10px solid green;
}
.yellow {
    border-left: 10px solid yellow;
}
.blue {
    border-left: 10px solid blue;
}
.orange {
    border-left: 10px solid orange;
}
.pink {
    border-left: 10px solid pink;
}

/* @media screen and (max-width: 768px) {
    .main-content-container {
        z-index: -1;
    }
    .side-nav {
        display: none;
        position: fixed;
        z-index: 99;
        background-color: hsl(214, 35%, 21%);
        box-shadow: 1px 1px 5px #d1d1d1;
    }
} */
@media screen and (max-width: 1400px) {
    .side-nav::before {
        position: fixed;
        z-index: -99;
        width: 100%;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
    }
    .side-nav {
        position: fixed;
        z-index: 99;
        background-color: hsl(214, 35%, 21%);
        box-shadow: 1px 1px 5px #d1d1d1;
        width: 100%;
    }
    .side-nav .logo .cancel-nav {
        display: inline;
    }
}